body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #2c3e50;
    padding: 10px 0;
    text-align: center;
}

nav h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.5s;
}

nav a:hover {
    background-color: #3498db;
}

main {
    padding: 20px;
    display: flex;
}
.welcome-text {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-top: 50px;
    margin-right:50px;
    margin-left: 50px;


}

.welcome-text p {
    color: #333;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.welcome-section img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

form button {
    padding: 10px 20px;
    background-color: #008ea1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

label, select, button {
    margin: 10px 3px;
    padding: 10px;
    width: 150px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
