<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
<header>
    <div class="h-100 d-inline-flex align-items-center py-3 me-4">

    </div>
</header>
<nav>
    <h1 class="m-0">Pharmacy Localisation</h1>
    <a href="/client/home">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="/pharmacie/list3">Liste des Pharmacies</a>
    <a href="/pharmacie/map">Carte</a>
</nav>
<main>

    <div class="welcome-text">
        <p>Bienvenue sur notre site. Trouvez les pharmacies les plus proches de vous. Découvrez une nouvelle façon de prendre soin de votre santé, en localisant facilement les pharmacies dans votre région.</p>
    </div>
</main>
<footer>
    &copy; 2024
</footer>
</body>
</html>
