<!DOCTYPE html>
<html lang="en">
<head>
    <title>Connexion - Portail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"   type="text/css" th:href="@{/css/home.css}">
</head>
<body>

<div>
    <form>
        <div class="image-overlay">
            <p>Bienvenue, connectez-vous pour pouvoir effectuer des opérations.</p>
        </div>
        <div class="options">
            <a href="/admin/login"> Administrateur</a>
            <a href="/pharmacien/login">Pharmacien</a>
            <a href="/client/home">Client</a>
        </div>
    </form>
</div>

</body>
</html>
